@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+VN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+VN:wght@100..400&display=swap');
:root {
    --primary-color:#6C059E;
    --secondary-color:#FF3D00;
    --accent1-color:#FFFFFF;
    --accent2-color:#000000;
    --title-font: montserrat;
    --text-font: merriweather;
}

*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(189, 189, 189);
}
header{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.logo img{
    width: 65px;
    height: auto;
}
.menu a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.btn button{
    border-radius: 10px;
    background-color: rgb(142, 168, 255);
    color: var(--primary-color);   
}
.menu a:hover{
    text-decoration: underline;
    color: var(--secondary-color);
}
.hero-image img{
    height: 98vh;
    width: 100%;
    position: relative;
}
.hero-text h1{
    position: absolute;
    top: 40%;
    left: 30%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: rgb(214, 149, 8);
    background-color: rgb(0, 0, 0,0.5);
}
.btn-hero{
    position: absolute;
    top: 60%;
    left: 45%;
    padding: 50px;
}
.btn-hero button{
    background-color: rgb(142, 204, 7);
    border: 0;
    border-radius: 5px;
    padding: 15px;
    margin: 10px, 0px, 10px, 0px;
}
.btn-hero button:hover{
    color: white;
    background-color: var(--secondary-color);
}
.aca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}
.aca img{
    width: 150px;
    height: quto;
    margin-left: 90px;
}
.aca img:hover{
    text-decoration: none;
}